.english-puzzle__wrapper {
  padding: 0px 50px;
}

.english-puzzle__header {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.english-puzzle__start-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url('../../assets/img/EnglishPuzzle/puzzle.svg');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: 100px;
  background-color: transparent;
}

.english-puzzle__title {
  font-size: 30px;
}

.english-puzzle__start-screen_content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px;
  height: 200px;
  border: solid 1px #000;
  background-color: rgb(229, 235, 243);
}

.english-puzzle__start-screen_level {
  width: 100%;
}

.english-puzzle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;  
}

.english-puzzle__sentences {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 30px;
  margin: 2px;
  font-size: 14px;
}

.english-puzzle__list_title {
  margin-right: 10px;
  font-size: 14px;
  padding: 5px;
}

.english-puzzle__sentence {
  width: 100%;
}

.english-puzzle__initial_words {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  width: inherit;
}

.english-puzzle__initial_word {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: solid 1px #fff;
  user-select: none;
  color: white;
  background-color: #263B4A;
  width: 100%;
  max-width: 200px;
  font-size: 14px;
  text-align: center;
  padding: 0px 20px;
  margin: 0px 3px;
  max-width: 150px;
  height: 25px;
  z-index: 1;
}

.english-puzzle__initial_word:not(.english-puzzle__first-word)::after {
  content: '';
  position: absolute;
  background-color: lightgrey;
  width: 8px;
  height: 8px;
  left: -1px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 3;
}

.english-puzzle__initial_word:not(.english-puzzle__last-word)::before {
  content: '';
  position: absolute;
  right: -7px;
  width: 8px;
  height: 8px;
  background-color: #263B4A;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 2;
}

.english-puzzle__correct {
  border: solid 2px green;
}

.english-puzzle__options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.english-puzzle__options_sound {
  height: 35px;
  margin: 5px;
  font-size: 14px;
  flex-grow: 1;
}

.english-puzzle__translate {
  width: 100%;
  text-align: center;
  font-size: 14px;
  margin-bottom: 5px;
}

.english-puzzle__buttons {
  text-align: center;
  margin: 10px auto;
}

.english-puzzle__correct-answer {
  background-color: green;
}

.english-puzzle__error-answer {
  background-color: red;
}

@media (max-width: 1000px) and (min-width: 520px) {
  .english-puzzle__wrapper {
    padding: 0px 10px;
  }

  .english-puzzle__start-screen {
    background-image: none;
  }

  .english-puzzle__options {
    min-width: 400px;
  }

  .english-puzzle__options_sound {
    font-size: 12px;
  }

  .english-puzzle__translate {
    font-size: 10px;
  }

  .english-puzzle__sentences {
    min-width: 400px;
  }

  .english-puzzle__initial_word {
    height: 25px;
    font-size: 10px;
    letter-spacing: .03em;
    padding: 0px 5px;
    margin: 0px 2px;
  }

  .english-puzzle__initial_word:not(.english-puzzle__first-word)::after,
  .english-puzzle__initial_word:not(.english-puzzle__last-word)::before {
    width: 5px;
    height: 5px;
  }

  .english-puzzle__initial_word:not(.english-puzzle__first-word)::after {
    left: -3px
  }

  .english-puzzle__initial_word:not(.english-puzzle__last-word)::before {
    right: -3px
  }

  .english-puzzle__list_title {
    font-size: 10px;
    padding: 0px;
  }

  .english-puzzle__buttons.english-puzzle__initial_word:not(.english-puzzle__last-word)::before {
    font-size: 10px;
  }
}

@media (max-width: 519px) and (min-width: 320px) {
  .english-puzzle__wrapper {
    padding: 0px 2px;
  }

  .english-puzzle__start-screen {
    background-image: none;
  }

  .english-puzzle__title {
    font-size: 18px;
  }

  .english-puzzle__header .ant-col.ant-form-item-label,
  .english-puzzle__header .ant-col.ant-form-item-control {
    text-align: center;
  }

  .english-puzzle__start-screen_content {
    width: 220px;
  }

  .english-puzzle__options {
    width: 260px;
    margin-top: 10px;
  }

  .english-puzzle__options_sound {
    font-size: 10px;
  }

  .english-puzzle__options_sound {
    height: 25px;
  }

  .english-puzzle__translate {
    font-size: 10px;
  }

  .english-puzzle__sentences {
    width: 260px;
    flex-wrap: wrap;
    height: 25px;
  }

  .english-puzzle__initial_word {
    height: 20px;
    font-size: 8px;
    letter-spacing: .03em;
    padding: 0px 2px;
    margin: 0px 1px;
    font-weight: 200;
  }

  .english-puzzle__initial_word:not(.english-puzzle__first-word)::after,
  .english-puzzle__initial_word:not(.english-puzzle__last-word)::before {
    width: 0px;
    height: 0px;
  }

  .english-puzzle__list_title {
    font-size: 8px;
    letter-spacing: -.3em;
  }

  .english-puzzle__buttons .ant-btn.ant-btn-primary.ant-btn-round {
    font-size: 10px;
    height: 20px;
  }

  .english-puzzle__initial_word {
    max-width: 80px;
  }

  .english-puzzle__buttons {
    margin-top: 25px;
  }
}

