.ant-divider-horizontal.ant-divider-with-text::before,
.ant-divider-horizontal.ant-divider-with-text::after {
    border-top: 1px solid black;
}

.statistics-page__container {
    margin: 16px;
}

.statistics-page__container .ant-row {
    justify-content: space-around;
}

.statistics-page__container .ant-row .ant-col {
    margin-right: 60px;
}

.statistics-page__container .ant-row .ant-col h3, 
.statistics-page__container .ant-row .ant-col h4 {
    text-align: center;
    padding-left: 50px;
}
