.ant-layout.about_wrapper {
    width: 100%;
    padding: 10px;
    background: transparent;
}

.about_wrapper p {
    color: blueviolet;
}

.about_title {
    font-size: 1.6rem;
    text-align: center;
}

.about_title h1 {
   color: #564946;
}

.about_persons_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about_card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 330px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: orange;
    box-shadow: 4px 4px 14px coral, -4px -4px 14px darkgoldenrod;
}

.about_card_header {
    display: flex;
    margin-bottom: 10px;
}

.about_card_block-name {
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 10px;
}

.about_card_block-name h3,
.about_card_block-name h4 {
    color: maroon;
}

.about_card_position p {
    color: dimgray;
}

.about_card_avatar img {
    border-radius: 50%;
    width: 115px;
    height: 115px;
}

.about_card_about_person {
    font-style: italic;
    text-align: justify;
}

.about_card_about_person::first-letter,
.about_card_contribution::first-letter {
    margin-left: 20px;
}

.about_card_contribution {
    text-align: justify;
}

.about_card_contribution p{
    color: firebrick;
}

.about_card_link_git_hub {
    display: flex;
    justify-content: center;
}

.about_card_link_git_hub button {
    z-index: 0;
}