.audiochallenge__progress_box {
    width: 80%;
    height: 50px;
    margin: 5px auto;
}

#audiochallenge__progress_box-right_star {
    font-size: 48px;
    color: yellow;
}

#audiochallenge__progress_box-wrong_star {
    font-size: 48px;
    color: rgb(97, 94, 94);
}