.speakit__main {
  padding: 0px 50px;
  font-size: 15px;
  letter-spacing: .03em;
  font-weight: 400;
  background-color: #fff;
}

.speakit__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

.speakit__cards_card {
  width: 18%;
  border: solid 1px #000000;
  margin: 5px 5px;
  position: relative;
  border-radius: 5px;
  outline: none;
}

.speakit__play_word {
  position: absolute;
  top: 35%;
  left: 20px;
  font-size: 25px;
}

.speakit__cards_card:hover,
.speakit__cards_card:focus {
  cursor: pointer;
  background-color: wheat;
}

.speakit__word,
.speakit__transcription {
  text-align: center;
  margin: 10px auto;
  padding-left: 10px;
}

.speakit__cards_hidden {
  font-size: 0px;
  color: transparent;
  overflow: hidden;
}

.speakit__image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.speakit__image_word {
  clip-path: circle(50% at 50% 50%);
}

.speakit__image_translate {
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin: 10px auto;
  text-transform: uppercase;
}

.speakit__controll {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 50px;
}

.speakit__controll_button {
  width: 300px;
  height: 50px;
  font-size: 20px;
}

.speakit__speak {
  width: 500px;
}