.audiochallenge__list_button_words {
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
}

#audiochallenge__button_words {
    height: 50px;
}

.audiochallenge__hide:disabled {
    background-color: cadetblue;
}

#audiochallenge__button_words-right {
    background-color: chartreuse;
    -webkit-box-shadow: 0px 0px 18px -2px rgba(10, 247, 26, 1);
    -moz-box-shadow: 0px 0px 18px -2px rgba(10, 247, 26, 1);
    box-shadow: 0px 0px 18px -2px rgba(10, 247, 26, 1);
    height: 50px;
}

#audiochallenge__button_words-wrong {
    background-color: crimson;
    -webkit-box-shadow: 0px 0px 18px -2px rgba(245, 61, 71, 1);
    -moz-box-shadow: 0px 0px 18px -2px rgba(245, 61, 71, 1);
    box-shadow: 0px 0px 18px -2px rgba(245, 61, 71, 1);
    height: 50px;
}