.audiochallenge_header{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}
.autoplay_box{
    display: flex;
    flex-direction: column;
}
.btn_start_game{
    display: flex;
    justify-content: center;



}