.audiochallenge__context {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.audiochallenge__context-level_title{
    margin-bottom: 20px;
}
.audiochallenge__context-btn_next {
    height: 60px;
}

.audiochallenge__context-loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 300px;
}

