.audiochallenge__context {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.audiochallenge__context-level_title{
    margin-bottom: 20px;
}
.audiochallenge__context-btn_next {
    height: 60px;
}

.audiochallenge__context-loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 300px;
}

.audiochallenge__modal {
    width: 100%;
    height: 100%;
}

.audiochallenge__modal-title {
    color: rgb(231, 24, 103);
    font-size: larger;
    text-align: center;
    font-style: oblique;
    font-family: cursive;
    margin: 5px;
}

.audiochallenge__modal-right_answers-title {
    color: green;
    font-size: larger;
    text-align: left;
    font-style: oblique;
    font-family: cursive;
    margin: 5px;
}

.audiochallenge__modal-wrong_answers-title {
    color: rgb(20, 30, 85);
    font-size: larger;
    text-align: left;
    font-style: oblique;
    font-family: cursive;
    margin: 5px;
}

.audiochallenge__modal-right_answers-list, .audiochallenge__modal-wrong_answers-list {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.audiochallenge__modal-right_answers-list-word, .audiochallenge__modal-wrong_answers-list-word {
    color: rgb(119, 25, 181);
    margin: 2px 5px;
    font-family: cursive;
    font-size: larger;
}

.audiochallenge__modal-right_answers-list-translate, .audiochallenge__modal-wrong_answers-list-translate {
    color: rgb(154, 166, 233);
    margin: 2px 5px;
    font-family: cursive;
    font-size: larger;
}